nbproject/
.buildpath
.project
.settings/
.idea/

.htaccess
wp-config.php

wp-content/uploads/
wp-content/upgrade/
wp-content/wflogs/
wp-content/wpmvc/

ogs
debug.log

# Total cache
wp-content/advanced-cache.php
wp-content/cache/
wp-content/w3tc-config/
wp-content/object-cache.php
.DS_Store
*.DS_Store


#Ignore ones that are generated in Elidev docker server
favicon.ico
robots.txt
stats

.supervisord/*.conf

error_log
/php.ini
.user.ini

wp-content/uploads
wp-content/uploads_backup
wp-content/wflogs
wp-content/cache
wp-content/ai1wm-backups
wp-content/languages
wp-content/maintenance
wp-content/maintenance.php
wp-content/plugins/*.zip
wp-content/*.zip
wp-content/mu-plugins
wp-content/litespeed
wp-content/.litespeed_conf.dat
.htaccess.bk
.bash_history
.cache/
.ssh/
.viminfo
.localstorage
wp-content/webtoffee_import/*
wp-content/webtoffee_iew_log/*
wp-content/webtoffee_export/*

# wp-content/plugins/wp-crontrol/
wp-content/plugins/wp-debugging/
wp-content/plugins/query-monitor/

wp-content/plugins/b2b/woocommerce-request-a-quote/uploads/
wp-content/plugins/omniva-woocommerce/locations.json

.shells/development.sh

